<%- include('partials/navbar') %>
  <h1>Quotes by <%= author %>
  </h1>

  <ul class="quote-list">
    <% quotes.forEach(quote=> { %>
      <li class="quote-item">
        <span class="quote-author">
          <%= quote.author %> -
        </span>
        <span class="quote-content">
          <%= quote.content %>
        </span>
      </li>
      <% }); %>