<%- include('partials/navbar') %>

    <h1>Quotes</h1>
    <br>

    <% if (quote) { %>
      <div class="random-quote">
        <h2 class="quote-content">
          <%= quote.content %>
        </h2>
        <p class="mainAuthor">- <%= quote.author %>
        </p>
      </div>
      <% } %>