<%- include('partials/navbar') %>

  <h1>Login</h1>
  <form class=form action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <input type="submit" value="Login">
    <div id="feedback">
      <%= feedback %>
    </div>
  </form>

  <a href="signup">
    <h2>Would you rather sign up? Click here</h2>
  </a>